<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eliminar</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>Confirmar eliminar a: {{ object.nombres }}?</h2>
        <input type="submit" value="Eliminar">
    </form>
    <p>
        <a href="{% url 'listar' %}">Cancelar</a>
    </p>
</body>
</html>